#a input[type=checkbox],
#b input[type=checkbox],
#c input[type=checkbox],
#d input[type=checkbox],
#e input[type=checkbox] {
       display: none;

   
  }

  #a input[type=checkbox] + label {
       content: url('../images/idan.png');
       width: 150px;
       height: 100px;
       position: flex;
       margin-left: auto;
       margin-right: -15px;
       padding: 0 0 0 0px;
       cursor: pointer;

   }

 #a input[type=checkbox]:checked + label {
        content: url('../images/idan.png');
        padding: 0 0 0 0px;
        -webkit-filter: brightness(0.2);
       -moz-filter: brightness(0.2);
       -o-filter: brightness(0.2);
       -ms-filter: brightness(0.2);

    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -o-transition: all 0.50s;
     transition: all 0.50s;

    }

      #b input[type=checkbox] + label {
       content: url('../images/david.png');
       width: 150px;
       height: 100px;
       position: flex;
       margin-left: auto;
       margin-right: -15px;
       padding: 0 0 0 0px;
       cursor: pointer;
   }

 #b input[type=checkbox]:checked + label {
        content: url('../images/david.png');
        padding: 0 0 0 0px;
        -webkit-filter: brightness(0.2);
       -moz-filter: brightness(0.2);
       -o-filter: brightness(0.2);
       -ms-filter: brightness(0.2);

    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -o-transition: all 0.50s;
     transition: all 0.50s;

    }

  #c input[type=checkbox] + label {
       content: url('../images/twop.png');
       width: 150px;
       height: 100px;
       position: flex;
       margin-left: auto;
       margin-right: -15px;
       padding: 0 0 0 0px;
       cursor: pointer;
   }

 #c input[type=checkbox]:checked + label {
        content: url('../images/twop.png');
        padding: 0 0 0 0px;
        -webkit-filter: brightness(0.2);
       -moz-filter: brightness(0.2);
       -o-filter: brightness(0.2);
       -ms-filter: brightness(0.2);

    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -o-transition: all 0.50s;
     transition: all 0.50s;

    }

 #d input[type=checkbox] + label {
       content: url('../images/pub.png');
       width: 150px;
       height: 100px;
       position: flex;
       margin-left: auto;
       margin-right: -15px;
       padding: 0 0 0 0px;
       cursor: pointer;
   }

 #d input[type=checkbox]:checked + label {
        content: url('../images/pub.png');
        padding: 0 0 0 0px;
        -webkit-filter: brightness(0.2);
       -moz-filter: brightness(0.2);
       -o-filter: brightness(0.2);
       -ms-filter: brightness(0.2);

    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -o-transition: all 0.50s;
     transition: all 0.50s;

    }

  #e input[type=checkbox] + label {
       content: url('../images/donky.png');
       width: 150px;
       height: 100px;
       position: flex;
       margin-left: auto;
       margin-right: -15px;
       padding: 0 0 0 0px;
       cursor: pointer;
   }

 #e input[type=checkbox]:checked + label {
        content: url('../images/donky.png');
        padding: 0 0 0 0px;
        -webkit-filter: brightness(0.2);
       -moz-filter: brightness(0.2);
       -o-filter: brightness(0.2);
       -ms-filter: brightness(0.2);

    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -o-transition: all 0.50s;
     transition: all 0.50s;

    }




/*FONT ICONS FONT ICONS*/



#one input[type=checkbox],
#two input[type=checkbox],
#three input[type=checkbox],
#four input[type=checkbox],
#five input[type=checkbox],
#six input[type=checkbox] {
       display: none;      
  }

  #one input[type=checkbox] + label {
       content: url('../images/dak.png');
       position: flex;
       margin-left: auto;
       margin-right: auto;
       padding: 0 0 0 0px;
       cursor: pointer;
   }
   
 #one input[type=checkbox]:checked + label  {
        content: url('../images/dak.png');
        padding: 0 0 0 0px;
        -webkit-filter: brightness(0.2);
       -moz-filter: brightness(0.2);
       -o-filter: brightness(0.2);
       -ms-filter: brightness(0.2);

    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -o-transition: all 0.50s;
     transition: all 0.50s;

    }

     #two input[type=checkbox] + label {
       content: url('../images/hebold.png');
       position: flex;
       margin-left: auto;
       margin-right: auto;
       padding: 0 0 0 0px;
       cursor: pointer;
   }
   
 #two input[type=checkbox]:checked + label  {
        content: url('../images/hebold.png');
        padding: 0 0 0 0px;
        -webkit-filter: brightness(0.2);
       -moz-filter: brightness(0.2);
       -o-filter: brightness(0.2);
       -ms-filter: brightness(0.2);

    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -o-transition: all 0.50s;
     transition: all 0.50s;

    }

    #three input[type=checkbox] + label {
       content: url('../images/hand.png');
       position: flex;
       margin-left: auto;
       margin-right: auto;
       padding: 0 0 0 0px;
       cursor: pointer;
   }
   
 #three input[type=checkbox]:checked + label  {
        content: url('../images/hand.png');
        padding: 0 0 0 0px;
        -webkit-filter: brightness(0.2);
       -moz-filter: brightness(0.2);
       -o-filter: brightness(0.2);
       -ms-filter: brightness(0.2);

    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -o-transition: all 0.50s;
     transition: all 0.50s;

    }

        #four input[type=checkbox] + label {
       content: url('../images/light.png');
       position: flex;
       margin-left: auto;
       margin-right: auto;
       padding: 0 0 0 0px;
       cursor: pointer;
   }
   
 #four input[type=checkbox]:checked + label  {
        content: url('../images/light.png');
        padding: 0 0 0 0px;
        -webkit-filter: brightness(0.2);
       -moz-filter: brightness(0.2);
       -o-filter: brightness(0.2);
       -ms-filter: brightness(0.2);

    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -o-transition: all 0.50s;
     transition: all 0.50s;

    }

 #five input[type=checkbox] + label {
       content: url('../images/bold.png');
       position: flex;
       margin-left: auto;
       margin-right: auto;
       padding: 0 0 0 0px;
       cursor: pointer;
   }
   
 #five input[type=checkbox]:checked + label  {
        content: url('../images/bold.png');
        padding: 0 0 0 0px;
        -webkit-filter: brightness(0.2);
       -moz-filter: brightness(0.2);
       -o-filter: brightness(0.2);
       -ms-filter: brightness(0.2);

    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -o-transition: all 0.50s;
     transition: all 0.50s;

    }

  #six input[type=checkbox] + label {
       content: url('../images/script.png');
       position: flex;
       margin-left: auto;
       margin-right: auto;
       padding: 0 0 0 0px;
       cursor: pointer;
   }
   
 #six input[type=checkbox]:checked + label  {
        content: url('../images/script.png');
        padding: 0 0 0 0px;
        -webkit-filter: brightness(0.2);
       -moz-filter: brightness(0.2);
       -o-filter: brightness(0.2);
       -ms-filter: brightness(0.2);

    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -o-transition: all 0.50s;
     transition: all 0.50s;

    }
 
 label  {
  margin-bottom:0 ;
}

@media (min-width: 768px) and (max-width: 991px) {

  #a input[type=checkbox] + label {
       content: url('../images/idan.png');
       width: 117px;
       height: 78px;
       position: flex;
       margin-left: auto;
       margin-right: -15px;
       padding: 0 0 0 0px;
       cursor: pointer;

   }

 #a input[type=checkbox]:checked + label {
        content: url('../images/idan.png');
        padding: 0 0 0 0px;
        -webkit-filter: brightness(0.2);
       -moz-filter: brightness(0.2);
       -o-filter: brightness(0.2);
       -ms-filter: brightness(0.2);

    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -o-transition: all 0.50s;
     transition: all 0.50s;

    }

      #b input[type=checkbox] + label {
       content: url('../images/david.png');
       width: 117px;
       height: 78px;
       position: flex;
       margin-left: auto;
       margin-right: -15px;
       padding: 0 0 0 0px;
       cursor: pointer;
   }

 #b input[type=checkbox]:checked + label {
        content: url('../images/david.png');
        padding: 0 0 0 0px;
        -webkit-filter: brightness(0.2);
       -moz-filter: brightness(0.2);
       -o-filter: brightness(0.2);
       -ms-filter: brightness(0.2);

    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -o-transition: all 0.50s;
     transition: all 0.50s;

    }

  #c input[type=checkbox] + label {
       content: url('../images/twop.png');
       width: 117px;
       height: 78px;
       position: flex;
       margin-left: auto;
       margin-right: -15px;
       padding: 0 0 0 0px;
       cursor: pointer;
   }

 #c input[type=checkbox]:checked + label {
        content: url('../images/twop.png');
        padding: 0 0 0 0px;
        -webkit-filter: brightness(0.2);
       -moz-filter: brightness(0.2);
       -o-filter: brightness(0.2);
       -ms-filter: brightness(0.2);

    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -o-transition: all 0.50s;
     transition: all 0.50s;

    }

 #d input[type=checkbox] + label {
       content: url('../images/pub.png');
       width: 117px;
       height: 78px;
       position: flex;
       margin-left: auto;
       margin-right: -15px;
       padding: 0 0 0 0px;
       cursor: pointer;
   }

 #d input[type=checkbox]:checked + label {
        content: url('../images/pub.png');
        padding: 0 0 0 0px;
        -webkit-filter: brightness(0.2);
       -moz-filter: brightness(0.2);
       -o-filter: brightness(0.2);
       -ms-filter: brightness(0.2);

    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -o-transition: all 0.50s;
     transition: all 0.50s;

    }

  #e input[type=checkbox] + label {
       content: url('../images/donky.png');
       width: 117px;
       height: 78px;
       position: flex;
       margin-left: auto;
       margin-right: -15px;
       padding: 0 0 0 0px;
       cursor: pointer;
   }

 #e input[type=checkbox]:checked + label {
        content: url('../images/donky.png');
        padding: 0 0 0 0px;
        -webkit-filter: brightness(0.2);
       -moz-filter: brightness(0.2);
       -o-filter: brightness(0.2);
       -ms-filter: brightness(0.2);

    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -o-transition: all 0.50s;
     transition: all 0.50s;

    }


}

@media (min-width: 600px) and (max-width: 767px) {

  #a input[type=checkbox] + label {
       content: url('../images/idan.png');
       width: 150px;
       height: 100px;
       position: flex;
       margin-left: auto;
       margin-right: auto;
       padding: 0 0 0 0px;
       cursor: pointer;

   }

 #a input[type=checkbox]:checked + label {
        content: url('../images/idan.png');
        padding: 0 0 0 0px;
        -webkit-filter: brightness(0.2);
       -moz-filter: brightness(0.2);
       -o-filter: brightness(0.2);
       -ms-filter: brightness(0.2);

    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -o-transition: all 0.50s;
     transition: all 0.50s;

    }

      #b input[type=checkbox] + label {
       content: url('../images/david.png');
       width: 150px;
       height: 100px;
       position: flex;
       margin-left: auto;
       margin-right: auto;
       padding: 0 0 0 0px;
       cursor: pointer;
   }

 #b input[type=checkbox]:checked + label {
        content: url('../images/david.png');
        padding: 0 0 0 0px;
        -webkit-filter: brightness(0.2);
       -moz-filter: brightness(0.2);
       -o-filter: brightness(0.2);
       -ms-filter: brightness(0.2);

    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -o-transition: all 0.50s;
     transition: all 0.50s;

    }

  #c input[type=checkbox] + label {
       content: url('../images/twop.png');
       width: 150px;
       height: 100px;
       position: flex;
       margin-left: auto;
       margin-right: auto;
       padding: 0 0 0 0px;
       cursor: pointer;
   }

 #c input[type=checkbox]:checked + label {
        content: url('../images/twop.png');
        padding: 0 0 0 0px;
        -webkit-filter: brightness(0.2);
       -moz-filter: brightness(0.2);
       -o-filter: brightness(0.2);
       -ms-filter: brightness(0.2);

    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -o-transition: all 0.50s;
     transition: all 0.50s;

    }

 #d input[type=checkbox] + label {
       content: url('../images/pub.png');
       width: 150px;
       height: 100px;
       position: flex;
       margin-left: auto;
       margin-right: auto;
       padding: 0 0 0 0px;
       cursor: pointer;
   }

 #d input[type=checkbox]:checked + label {
        content: url('../images/pub.png');
        padding: 0 0 0 0px;
        -webkit-filter: brightness(0.2);
       -moz-filter: brightness(0.2);
       -o-filter: brightness(0.2);
       -ms-filter: brightness(0.2);

    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -o-transition: all 0.50s;
     transition: all 0.50s;

    }

  #e input[type=checkbox] + label {
       content: url('../images/donky.png');
       width: 150px;
       height: 100px;
       position: flex;
       margin-left: auto;
       margin-right: auto;
       padding: 0 0 0 0px;
       cursor: pointer;
   }

 #e input[type=checkbox]:checked + label {
        content: url('../images/donky.png');
        padding: 0 0 0 0px;
        -webkit-filter: brightness(0.2);
       -moz-filter: brightness(0.2);
       -o-filter: brightness(0.2);
       -ms-filter: brightness(0.2);

    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -o-transition: all 0.50s;
     transition: all 0.50s;

    }


}

@media (max-width: 600px) {

  #a input[type=checkbox] + label {
       content: url('../images/idan.png');
       width: 130px;
       height: 87px;
       position: flex;
       margin-left: auto;
       margin-right: auto;
       padding: 0 0 0 0px;
       cursor: pointer;

   }

 #a input[type=checkbox]:checked + label {
        content: url('../images/idan.png');
        padding: 0 0 0 0px;
        -webkit-filter: brightness(0.2);
       -moz-filter: brightness(0.2);
       -o-filter: brightness(0.2);
       -ms-filter: brightness(0.2);

    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -o-transition: all 0.50s;
     transition: all 0.50s;

    }

      #b input[type=checkbox] + label {
       content: url('../images/david.png');
       width: 130px;
       height: 87px;
       position: flex;
       margin-left: auto;
       margin-right: auto;
       padding: 0 0 0 0px;
       cursor: pointer;
   }

 #b input[type=checkbox]:checked + label {
        content: url('../images/david.png');
        padding: 0 0 0 0px;
        -webkit-filter: brightness(0.2);
       -moz-filter: brightness(0.2);
       -o-filter: brightness(0.2);
       -ms-filter: brightness(0.2);

    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -o-transition: all 0.50s;
     transition: all 0.50s;

    }

  #c input[type=checkbox] + label {
       content: url('../images/twop.png');
       width: 130px;
       height: 87px;
       position: flex;
       margin-left: auto;
       margin-right: auto;
       padding: 0 0 0 0px;
       cursor: pointer;
   }

 #c input[type=checkbox]:checked + label {
        content: url('../images/twop.png');
        padding: 0 0 0 0px;
        -webkit-filter: brightness(0.2);
       -moz-filter: brightness(0.2);
       -o-filter: brightness(0.2);
       -ms-filter: brightness(0.2);

    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -o-transition: all 0.50s;
     transition: all 0.50s;

    }

 #d input[type=checkbox] + label {
       content: url('../images/pub.png');
       width: 130px;
       height: 87px;
       position: flex;
       margin-left: auto;
       margin-right: auto;
       padding: 0 0 0 0px;
       cursor: pointer;
   }

 #d input[type=checkbox]:checked + label {
        content: url('../images/pub.png');
        padding: 0 0 0 0px;
        -webkit-filter: brightness(0.2);
       -moz-filter: brightness(0.2);
       -o-filter: brightness(0.2);
       -ms-filter: brightness(0.2);

    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -o-transition: all 0.50s;
     transition: all 0.50s;

    }

  #e input[type=checkbox] + label {
       content: url('../images/donky.png');
       width: 130px;
       height: 87px;
       position: flex;
       margin-left: auto;
       margin-right: auto;
       padding: 0 0 0 0px;
       cursor: pointer;
   }

 #e input[type=checkbox]:checked + label {
        content: url('../images/donky.png');
        padding: 0 0 0 0px;
        -webkit-filter: brightness(0.2);
       -moz-filter: brightness(0.2);
       -o-filter: brightness(0.2);
       -ms-filter: brightness(0.2);

    -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -o-transition: all 0.50s;
     transition: all 0.50s;

    }


}